body {
	margin: 0;
	padding: 0;
	width: 100%;
}
.you {
	position: absolute;
	bottom: 10%;
}
.opponent {
	position: absolute;
	top: 10%;
}
.uno_table {
	position: absolute;
	top: 50%;
	left: 50%;
}
#table {
	position: absolute;
	bottom: 0;
}
.controls {
	position: absolute;
	left: 5%;
	bottom: 5%;
}
