body {
	margin: 0;
	padding: 0;
	width: 100%;
}
.you {
	position: absolute;
	bottom: 10%;
}
.opponent {
	position: absolute;
	top: 10%;
}
.opp_cards {
	position: absolute;
	top: 20%;
}
#table {
	position: absolute;
	left: 40%;
	bottom: 20%;
}
.playing_card {
	position: absolute;
	left: 43%;
	top: 50%;
}
.controls {
	position: absolute;
	left: 5%;
	bottom: 5%;
}
